extends layout
block page
  - var menu = 'edituser'
block content
  div
    include includes/menu
    h3 Change Administrator password
    div= error
    div.col-md-4
        form(action="/edit", method='POST')
            p
            input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
            p
            input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
            p
            button.btn.btn-primary(type='submit') Update Password

