doctype html
html
  head
    title= appTitle
    script(type="text/javascript", src="/js/jquery-2.0.3.min.js")
    link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript", src="/css/bootstrap-3.0.2/js/bootstrap.min.js")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  style.
    div {
    background-color: #99ffff;
    }
  body
    #wrap
      .container
        center
            h2.page-header= appTitle
        block page
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      footer
        .container
          p
            | Copyright &copy; 2014 | Issues? Submit to&#32;
            a(href="http://mysensors.info/") MySensors
            | .